.todo-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 2px 0;
  cursor: pointer;
  transition: transform 0.2s;
}

.todo-item:hover {
  transform: scale(1.03);
}

.todo-item h2 {
  margin-right: 16px;
}

.todo-item p {
  flex-grow: 1;
}
